* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: antiquewhite;
    color: darkred;
    font-family: 'Nunito', sans-serif;
    max-width: 100%;
    max-height: 100%;
}

div.header {
    box-shadow: 3px 3px 5px grey;
    margin-top: 0;
    position: static;
    color: white;
    float: left;
    background-color: black;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.logo {
    margin: 5px;
    float: left;
    width: 30%;
}

div.logo img {
    float: left;
    padding: 10px;
    width: 30%;
    height: 100%;
}

div.logo p {
    padding-top: 2vh;
    margin: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    float: left;
}

div.menu {
    margin-bottom: 2px;
    margin-right: 10px;
    width: max-content;
    float: right;
}

div.containter {
    float: left;
    min-width: 99%;
    border-style: solid;
    border-block-color: black;
    text-align: center;
}

div.sub-title {
    font-weight: bold;
    margin: 3px;
    text-align: center;
    font-size: 30px;
    color: black;
    max-width: 100%;
    min-width: 99%;
    float: left;
}

div.content {
    width: 85%;
    font-weight: bolder;
    border: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 6px grey;
    padding: 10px;
    margin-left:8%;
    background-color: black;
    color: white;
    float: left;
    text-align: left;
    font-size: 20px;
}

div.blockContainer {
    width: 15%;
}

.menu ul {
    list-style-type: none;
    overflow: hidden;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li button {
    float: right;
    margin-right: 2%;
    position: sticky;
}

.dropdown-content {
    color: black;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown {
    border-radius: 5px;
    margin-right: 15px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

.dropdown-contnet a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    float: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover {
    cursor: pointer;
    background: #211f1f;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
}

.table table {
    border-collapse: collapse;
    width: 100%;
}

.selection {
    font-size: 20px;
    font-weight: bold;
    width: 30%;
}

.table td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #272927;
}

input[type=text], select, input[type=password], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 18px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form {
    text-align: left;
    margin: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.editor-container {
    height: 600px;
}

.layoutContainer {
    margin-top: 100;
}

.statusContainer {
    position: relative;
    float: left;
}

.editorContainer {
    margin-left: 200px;
}

.editor, .component {
    border-radius: 15px;
    overflow: auto;
}

.status {
    border-radius: 15px;
}